@media screen and (min-device-width: 1400px) and (max-device-width: 1600px) {
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1400px) {
}

@media only screen and (min-device-width: 764px) and (max-device-width: 1199px) {
}

@media only screen and (min-device-width: 360px) and (max-device-width: 763px) {
  p {
    font-size: 15px !important;
    line-height: 29px !important;
  }

  h4 {
    font-size: 20px !important;
    line-height: 39px !important;
  }

  .swiper-button-next, .swiper-button-prev {
    top: 34% !important;
  }
}

@media only screen and (min-device-width: 218px) and (max-device-width: 359px) {
    p {
        font-size: 14px !important;
        line-height: 25px !important;
      }
    
      h4 {
        font-size: 20px !important;
        line-height: 39px !important;
      }

      .swiper-button-next, .swiper-button-prev {
        top: 33% !important;
      }
}
